* {
  box-sizing: border-box;
}

.page {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c847d;
  background-image: url("./assets/fish.png");
  background-repeat: repeat repeat;
  background-position: -50px -50px;
  background-size: auto;
  position: relative;
}

.board {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 75svw;
  width: auto;
  max-height: 90svh;
  max-width: 90svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #591300;
  border: 5px solid #4b1000;
  box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 24svw;
  width: auto;
  max-height: 29svh;
  max-width: 29svw;
  margin-right: -1px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  outline: none;
  border: none;
}

.square-bg {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pawn-choice {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 75svw;
  width: auto;
  max-height: 90svh;
  max-width: 90svw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5svw;
  height: 100%;
  left: 0;
}

.choice {
  z-index: 1000;
  aspect-ratio: 1 / 1;
  height: 20svh;
  width: auto;
  max-height: 18svw;
  font-size: 6rem;
}

.replay {
  position: absolute;
  z-index: 1000;
  aspect-ratio: 2 / 1;
  height: 10svh;
  width: auto;
  max-width: 18svw;
  max-height: 9svw;
  font-size: 2rem;
}

.button {
  border-radius: 15px;
  background-color: #3c847d;
  touch-action: manipulation;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border: 1px solid #2c584e;
  background-image: linear-gradient(-180deg, #3c847d 0%, #2d6c66 100%);
  box-shadow: 0 0.5rem 0.625rem 0 rgba(0,0,0,0.2),
              0 -0.125rem 0.75rem #124b46 inset,
              0 0.375rem 0.125rem rgba(255,255,255, 0.4) inset,
              0 0.125rem 0.25rem 0 rgb(66, 158, 146) inset;
  color: rgb(223, 237, 233);
  text-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.button span {
  color: transparent;
  background-image: linear-gradient(0deg, #82eece -10%, #fafefd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(0, 102, 73));
}

.button::after {
  content: "";
  display: block;
  height: 0.125rem;
  position: absolute;
  bottom: 0.375rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 3.75rem);
  background: #fff;
  border-radius: 100%;
  
  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: scale(.96);
}

@media (max-width: 650px) {
  .replay {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .replay {
    font-size: 1.5rem;
  }
  .choice {
    font-size: 4rem;
  }
}

@media (max-width: 475px) {
  .replay {
    font-size: 1rem;
  }
  .choice {
    font-size: 3rem;
  }
}