* {
  box-sizing: border-box;
}

.page {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c847d;
}

.board {
  aspect-ratio: 1 / 1;
  height: 75svw;
  width: auto;
  max-height: 90svh;
  max-width: 90svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #591300;
  border: 5px solid #4b1000;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 24svw;
  width: auto;
  max-height: 29svh;
  max-width: 29svw;
  margin-right: -1px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  outline: none;
  border: none;
}

.square-bg {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.status {
  position: absolute;
  top: 25px;
}

.restart {
  position: absolute;
  bottom: 25px;
}
